@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background: #c874d9;
  border-radius: 20px;
  padding: 36px;
  margin-bottom: 28px;
  box-shadow: 6px 6px 6px #f1f1f1;
  width: 48%;
}

.container h2 {
  margin-top: 10px;
}

img {
  width: 200px;
  border-radius: 460px;
  margin-left: 20px;
}
.perfil {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

.perfil p {
  margin-left: 56px;
  font-size: 18px;
}

.perfil-texto {
  background: rgb(63, 221, 142);
  padding: 8px;
  border-radius: 10px;
  text-align: justify;
}

h1 {
  font-size: 35px;
}

h2 {
  margin-left: 20px;
  text-align: start;
  font-size: 30px;
}

p {
  font-size: 18px;
}

.contatos {
  background: #E1BBC9;
  border-radius: 20px;
  margin-right: px;
  padding: 36px;
  box-shadow: 6px 6px 6px #f1f1f1;
  margin-bottom: 20px;
  width: 48%;
  display: flex;
}

.redes {
  list-style: none;
}

a {
  text-decoration: none;
  color: #A5243D
}

